.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.header-img {
    width: 80%;
    transition: max-width 1s;
}

.header-img-expand {
    max-width: 450px;
}

.header-img-contract {
    max-width: 220px;
}

.header-content {
    font-family: 'Hachi Maru Pop', cursive;
    margin: 0 0 10px 0;
    transition: font-size 1s;
}

.header-content-expand {
    font-size: 40px;
}

.header-content-contract {
    font-size: 20px;
}
